# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/

# Streamlit cache
.streamlit/

# VS Code settings
.vscode/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build / distribution
build/
dist/
*.tar.gz
*.whl